@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400&display=swap');
body {
    background-color: #1A3636;
    color: #EEEEEE;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: "Gowun Batang", system-ui;
    font-weight: 400;
    overflow: scroll;
}

header {
    justify-content: center;
    margin: 0;
}

header nav {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: #40534C;
    color: #D6BD98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 1.5rem;
    padding-left: 2rem;
}


.logo img {
    width: 150px;
    border-radius: 50%;
}

.nav-bar {
    display: flex;
    padding-right: 2rem;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 18px;
}


.nav-bar li:hover{
    background-color: #00000000;
    color: #ffffff;
    box-shadow: rgba(0rgba(0, 0, 0, 0) 0.9) 10px 10px 10px;
    transform: scale(1.1);
    cursor: pointer;

}

.nav-bar li:hover a{
    color: #ffffff;
}

main {
    padding: 0.5rem;
}

.container-titulo{
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.container-titulo-info{
    justify-content: center;
}

.container-titulo-info h1, .container-titulo-info h2, .container-titulo-info p{
    text-align: center;
    font-size: 24px;
    color: #D6BD98;
}

.container-titulo-info p{
    font-size: 1.5rem;
}

.container-titulo-info-1{
    font-size: 2rem;
    justify-content: left;
    border-bottom: #ffffff 1px solid;
    color: #D6BD98;
    padding-bottom: 0.5rem;
}

.container-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    place-items: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
    padding: 2rem;
}

.card{
    margin: 0 auto;
    background-color: #677D6A;
    border-radius: 5%;
    width: fit-content;
    height: 90%;
    box-shadow: 0 0px 30px #000000e6;
    padding: 1rem;
    margin: 0;
    gap: 1rem;
    justify-content: center;
    font-size: fit-content;
}

.card img{
    width: 100%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    height: auto;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.container-sobre{
    padding: 0.5;
    align-items: center;
    color: #D6BD98;
    font-size: 1.3rem;
    }

    .container-sobre-bloco-1, .container-sobre-bloco-2{
    justify-content: center;
    padding: 2rem;
    }


.container-sobre{
    display: flex;
    padding: 0.5;
    align-items: center;
    color: #D6BD98;
    font-size: 1.3rem;
}

.container-sobre-bloco-1, .container-sobre-bloco-2{
    justify-content: center;
    padding: 2rem;
}

.container-sobre-bloco-1 img{
    width: 350px;
    border-radius: 50%;
}

.container-newsletter {
    justify-content: center;
}

.container-newsletter-bloco{
    align-items: center;
    margin-bottom: 1rem;
}

.container-newsletter-bloco h2{
    font-size: 2rem;
    color: #D6BD98;
    text-align: center;
}

.container-newsletter-bloco p{
    font-size: 1.5rem;
    color: #D6BD98;
    text-align: center;
}

.container-newsletter-bloco fieldset{
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #D6BD98;
    border-radius: 1rem;
    box-shadow: 0 0px 30px #40544de6;
    gap: 1.5rem;
    height: 15rem;
}

.container-newsletter-dados{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.campo-form::placeholder{
    color: #D6BD98;

}
.container-newsletter-dados input{
    justify-content: center;
    align-content: center ;
    border-radius: 0.3rem;
    height: 2rem;
    width: 40rem;
    background-color: #40534C;
    color: #ffffff;
    font-size: 1.2rem;
}

.newsletter-enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    height: 2rem;
    width: 20rem;
    margin-left: 10rem;
    background-color: #40534C;
    color: #D6BD98;
    border: 1px solid #D6BD98;
    font-size: 1.2rem;
    cursor: pointer;
}

#submit:hover{
    background-color: #677D6A;
    color: white; 
    border: none;
    cursor: pointer; 
    border-radius: 5px;
    transform: scale(1.1);
}

#submit:hover {
    background-color: #D6BD98; 
    color: #000000; 
}


.checkbox-newsletter{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 17px;
    color: white;
}

.checkbox-newsletter input {
    opacity: 0; /* Torna o checkbox invisível */
    position: absolute; /* Remove ele do fluxo visual sem quebrar a funcionalidade */
    height: 0;
    width: 0;
}

.checkbox-newsletter label{
    position: relative;
    padding-left: 30px; /* Espaço para o checkbox estilizado */
    cursor: pointer; /* Permite que o label seja clicável */
    color: #D6BD98;
}

/* Estilo do checkbox estilizado */
.checkbox-newsletter label::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Estilo quando o checkbox está marcado */
.checkbox-newsletter input:checked + label::before {
    background-color: #D6BD98;
}

/* Desenho do check */
.checkbox-newsletter input:checked + label::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


footer{
    background-color: #40534C;
    color: #D6BD98;
    margin: 0;
    height: fit-content;
    font-size: 0.9rem;
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

footer nav{
    display: flex;
    justify-content: space-between;
}

footer nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    align-items: center;
}

footer nav li{
    font-size: 0.8rem;
    display: grid;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

footer nav li:hover{
    background-color: #00000000;
    color: #ffffff;
    box-shadow: rgba(0rgba(0, 0, 0, 0) 0.9) 10px 10px 10px;
    transform: scale(1.1);

}

footer nav li:hover a{
    color: #ffffff;
}



footer section p{
    font-size: 1.2rem;
}

.footer-align-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #D6BD98;
    align-items: center;
    justify-content: center;
}

footer h2{
    justify-content: center;
    align-items: center;
}


@media (max-width: 820px) {
    body {
        width: 100%;
        height: fit-content;
        overflow-x: hidden;
    }

    .logo img {
        width: 120px;
    }

    nav {
        flex-direction: column;
        gap: 1rem;
        font-size: 1rem;
        justify-content: center;
    }

    .logo {
        font-size: 1.2rem;
        gap: 0.5rem;
        padding: 0;
    }

    .nav-bar {
        padding: 0;
    }

    .nav-bar ul {
        gap: 0.5rem;
        font-size: 1rem;
        padding: 0;
    }

    .container-titulo-info h1, .container-titulo-info h2 {
        font-size: 1.3rem;
    }

    .container-titulo-info p {
        font-size: 0.9rem;
    }

    .container-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .card {
        width: 90%;
        height: auto;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .card h2 {
        font-size: 1.3rem;
    }

    .card p {
        font-size: 1.1rem;
    }

    .container-newsletter-dados input {
        width: 100%;
        margin: 0 auto;
    }

    .container-sobre {
        display: block;
    }

    .container-sobre-bloco-1 img {
        width: 100%;
    }

    fieldset {
        width: 100%;
        margin: 0 auto;
    }

    .newsletter-enviar {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }

    footer nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        align-items: center;
    }

    footer nav li {
        font-size: 0.9rem;
    }

    footer {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
}
